name: update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      diff: ${{ steps.diff.outputs.diff }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          repository: msys2/MINGW-packages
          path: MINGW-packages
          sparse-checkout: mingw-w64-llvm
      - name: Run update
        run: |
          ./update.sh MINGW-packages/mingw-w64-llvm/PKGBUILD
      - name: Capture diff
        id: diff
        run: |
          {
            echo 'diff<<EOF098309485'
            git diff
            echo 'EOF098309485'
          } | tee -a "${GITHUB_OUTPUT}"
  open-pull-request:
    needs: check
    if: ${{ needs.check.outputs.diff }}
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Apply diff
        env:
          DIFF: ${{ needs.check.outputs.diff }}
        run: |
          git apply <<<"${DIFF}"
      - name: Create pull request
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update versions
          title: Update versions
          body: |
            - Update versions
            
            Auto-generated by .github/workflows/update.yml
          branch: update-versions
